<form id="user-login" action="/api/user/login">
	<input type="hidden" name="redirect" value="/test/user-test"/>
	<input type="text" name="username" />
	<input type="password" name="password" />
	<input type="submit"/>
</form>